@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

svg {
  position: absolute;
  width: 0;
  height: 0;
}

.night-mode {
  background-color: #111 !important;
  color: #e6e6e6 !important;
}

/* Ensure body gets dark too */
.night-mode body {
  background-color: #111 !important;
  color: #e6e6e6 !important;
}

/* Fix text inputs/buttons */
.night-mode input,
.night-mode textarea,
.night-mode select,
.night-mode button {
  background-color: #222 !important;
  color: #e6e6e6 !important;
  border-color: #444 !important;
}

/* Fix links */
.night-mode a {
  color: #80aaff !important;
}

/* Prevent images & videos from inverting / looking corrupted */
.night-mode img,
.night-mode video,
.night-mode iframe {
  filter: invert(1) hue-rotate(180deg);
}

.night-mode * {
  background-color: #111 !important;
}

.better-font, .better-font * {
  font-family: "Atkinson Hyperlegible", Arial, sans-serif !important;
  letter-spacing: 0.4px !important;
  line-height: 1.5 !important;
}